!!! 5
html(lang="fr")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet" href="/app.css")
  body
    .container
      .page-header
        h1= title
      include _breadcrumbs
      include _flashes
      block content
    script(src="/vendor.js")
    script(src="/socket.io/socket.io.js")
    script(src="/back.js")
    script.
      require('back/client/initialize');
