mixin running_mode(quiz)
  - icon = 'random' === quiz.runningMode ? 'random' : 'sort-by-order'
  +icon(icon)
  &nbsp;
  +running_mode_label(quiz.runningMode)

mixin running_mode_label(mode)
  = 'random' === mode ? 'Aléatoire' : 'Séquentiel'

mixin tab(id, label, defaultTab)
  li(class=(query.tab === id || !query.tab && defaultTab ? 'active' : null))
    a(href="##{id}", data-toggle="tab")= label

mixin tab_pane(id, defaultTab)
  .tab-pane(id=id, class=(query.tab === id || !query.tab && defaultTab ? 'active' : null))
    block
