mixin running_mode(quiz)
  - icon = 'random' === quiz.runningMode ? 'random' : 'sort-by-order'
  +icon(icon)
  &nbsp;
  +running_mode_label(quiz.runningMode)

mixin running_mode_label(mode)
  = 'random' === mode ? 'Aléatoire' : 'Séquentiel'

mixin starred_level(quiz)
  - for (var i = 0; i < quiz.level; ++i)
    +icon('star')
