<!DOCTYPE html><html lang="en"><head><title>app/front/views/quiz_end</title></head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"><meta name="groc-relative-root" content="../../../"><meta name="groc-document-path" content="app/front/views/quiz_end"><meta name="groc-project-path" content="app/front/views/quiz_end.jade"><link rel="stylesheet" type="text/css" media="all" href="../../../assets/style.css"><script type="text/javascript" src="../../../assets/behavior.js"></script><body><div id="meta"><div class="file-path">app/front/views/quiz_end.jade</div></div><div id="document"><div class="segment"><div class="code"><div class="wrapper"><span class="nt">include</span> ../../mixins

<span class="nt">h1</span>
  <span class="err">+</span><span class="nt">icon</span>(<span class="err">&#39;</span><span class="na">question-star</span><span class="err">&#39;</span>)
  |  C’est fini !


<span class="nt">table</span><span class="nc">.table-responsive.table-striped</span>
  <span class="nt">tbody</span>
    <span class="nt">tr</span>
      <span class="nt">th</span><span class="nc">.col-md-6</span> Votre score
      <span class="nt">td</span><span class="nc">.col-md-6</span><span class="p">=</span> <span class="n">scoring</span><span class="o">.</span><span class="n">score</span>
    <span class="nt">tr</span>
      <span class="nt">th</span><span class="nc">.col-md-6</span> Votre rang
      <span class="nt">td</span><span class="nc">.col-md-6</span><span class="p">=</span> <span class="n">scoring</span><span class="o">.</span><span class="n">rank</span></div></div></div></div></body></html>