include ../../mixins

#countDown= question.remainingTime()

h1
  +icon('question-sign')
  &nbsp;
  | #{questionIndex}/#{questionCount}
  &nbsp;
  != marked(question.title)

if multipleAnswers
  .alert.alert-info <strong>Attention !</strong>  Plusieurs bonnes réponses.

each answer in question.answers
  button.btn-default.btn-lg.btn-block(type='button', value=answer.id)!= marked(answer.text || answer)
