include ../../mixins

#countDown= question.remainingTime()

h1
  +icon('question-sign')
  &nbsp;
  = question.title

each answer in question.answers
  button.btn-default.btn-lg.btn-block(type='button', value=answer.id)= answer.text || answer
